<!DOCTYPE html>
<html>
<head>
<title>###TITLE###</title>

<style type="text/css">
body {
	margin: 30px 100px 30px 100px;
	padding: 0px;
	color: #000;
	background: #fff;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑',
		Arial, sans-serif;
	font-size: 20px;
}

.article_title {
	margin: 0px 0px 10px 0px;
	font-size: 30px;
	text-align: center;
}

.article_release_date {
	margin: 0px 0px 10px 0px;
	font-size: 20px;
	text-align: center;
}

.article_content {
	margin: 0px;
	padding: 0px;
}
</style>

</head>
<body>###BODY###</body>
</html>
