<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="org.shaohuogun.reader.portal.channel.model"/>
        <package name="org.shaohuogun.reader.portal.ebook.model"/>
        <package name="org.shaohuogun.reader.portal.message.model"/>
        <package name="org.shaohuogun.reader.portal.read.model"/>
        <package name="org.shaohuogun.reader.portal.user.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/ChannelMapper.xml"/>
        <mapper resource="mybatis/EbookMapper.xml"/>
        <mapper resource="mybatis/MessageMapper.xml"/>
        <mapper resource="mybatis/ReadMapper.xml"/>
        <mapper resource="mybatis/UserMapper.xml"/>
    </mappers>
</configuration>