<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
    	<package name="org.shaohuogun.reader.publisher.model"/>
        <package name="org.shaohuogun.reader.channel.model"/>
        <package name="org.shaohuogun.reader.message.model"/>
    </typeAliases>
    <mappers>
    	<mapper resource="mybatis/PublisherMapper.xml"/>
        <mapper resource="mybatis/ChannelMapper.xml"/>
        <mapper resource="mybatis/MessageMapper.xml"/>
        <mapper resource="mybatis/ContentMapper.xml"/>
    </mappers>
</configuration>