<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.reader.channel.dao.ChannelMapper">
	<resultMap id="channelResultMap" type="org.shaohuogun.reader.channel.model.Channel">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="pickingStatus" column="picking_status" />
		<result property="pickingBatchNo" column="picking_batch_no" />
		<result property="pickingAmount" column="picking_amount" />
		<result property="pickingCount" column="picking_count" />
		<result property="url" column="url" />
		<result property="name" column="name" />
		<result property="description" column="description"
			typeHandler="org.shaohuogun.reader.plugin.ibatis.BlobTypeHandler" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.reader.channel.model.Channel">
		insert into READER_CHANNEL
		(id,
		creator, create_date, deleted, picking_status, picking_batch_no,
		picking_amount, picking_count, url, name, description)
		values (#{id},
		#{creator}, #{createDate}, #{deleted},
		#{pickingStatus},
		#{pickingBatchNo},
		#{pickingAmount},
		#{pickingCount},
		#{url},
		#{name},
		#{description}
		)
	</insert>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="channelResultMap">
		select * from READER_CHANNEL where id = #{id}
	</select>

	<select id="countByCreator" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) from READER_CHANNEL where deleted = '0' and creator
		= #{creator}
	</select>

	<select id="selectByCreator" parameterType="java.lang.String"
		resultMap="channelResultMap">
		select * from READER_CHANNEL where deleted = '0' and creator
		= #{creator} order by create_date desc
	</select>

	<update id="update" parameterType="org.shaohuogun.reader.channel.model.Channel"
		flushCache="true">
		update
		READER_CHANNEL set last_modifier = #{lastModifier},
		last_modify_date =
		#{lastModifyDate}, deleted = #{deleted},
		picking_status = #{pickingStatus},
		picking_count =
		#{pickingCount}
		where
		id = #{id}
	</update>

	<select id="selectByPickingStatus" parameterType="java.lang.String"
		resultMap="channelResultMap">
		select * from READER_CHANNEL where deleted = '0' and
		picking_status = #{pickingStatus} order by create_date asc limit 1
	</select>

	<select id="selectByPickingBatchNo" parameterType="java.lang.String"
		resultMap="channelResultMap">
		select * from READER_CHANNEL where deleted = '0' and
		picking_batch_no = #{pickingBatchNo} order by create_date asc limit 1
	</select>
</mapper>

