<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.reader.message.dao.ContentMapper">
	<resultMap id="contentResultMap" type="org.shaohuogun.reader.message.model.Content">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="messageId" column="message_id" />
		<result property="original" column="original"
			typeHandler="org.shaohuogun.reader.plugin.ibatis.BlobTypeHandler" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.reader.message.model.Content">
		insert into READER_CONTENT (id,
		creator, create_date, deleted, message_id, original)
		values (#{id},
		#{creator}, #{createDate}, #{deleted}, #{messageId}, #{original})
	</insert>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="contentResultMap">
		select * from READER_CONTENT where id = #{id}
	</select>

	<select id="selectByMessageId" parameterType="java.lang.String"
		resultMap="contentResultMap">
		select * from READER_CONTENT where deleted = '0' and message_id
		=
		#{messageId}
	</select>

	<update id="update" parameterType="org.shaohuogun.reader.message.model.Content"
		flushCache="true">
		update
		READER_CONTENT set last_modifier = #{lastModifier},
		last_modify_date =
		#{lastModifyDate}, deleted = #{deleted} where id =
		#{id}
	</update>
</mapper>