<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.reader.portal.ebook.dao.EbookMapper">
	<resultMap id="ebookResultMap"
		type="org.shaohuogun.reader.portal.ebook.model.Ebook">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="categoryType" column="category_type" />
		<result property="categoryId" column="category_id" />
		<result property="format" column="format" />
		<result property="name" column="name" />
		<result property="path" column="path" />
		<result property="downloads" column="downloads" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.reader.portal.ebook.model.Ebook">
		insert into READER_EBOOK (id,
		creator, create_date, deleted, category_type, category_id, format,
		name, path,
		downloads)
		values (#{id},
		#{creator}, #{createDate},
		#{deleted},
		#{categoryType}, #{categoryId}, #{format},
		#{name}, #{path},
		#{downloads})
	</insert>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="ebookResultMap">
		select * from READER_EBOOK where id = #{id}
	</select>

	<select id="countByCategory" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from READER_EBOOK where deleted = '0' and
		category_type = #{categoryType} and
		category_id = #{categoryId}
	</select>

	<select id="selectByCategory" parameterType="java.util.Map"
		resultMap="ebookResultMap">
		select * from READER_EBOOK where deleted = '0' and
		category_type = #{categoryType} and
		category_id = #{categoryId} order
		by
		create_date desc;
	</select>

	<select id="countByCreator" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) from READER_EBOOK where deleted = '0' and
		creator
		= #{creator}
	</select>

	<select id="selectByCreator" parameterType="java.lang.String"
		resultMap="ebookResultMap">
		select * from READER_EBOOK where deleted = '0' and creator
		=
		#{creator} order by create_date desc
	</select>

</mapper>