<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.reader.portal.message.dao.MessageMapper">
	<resultMap id="messageResultMap"
		type="org.shaohuogun.reader.portal.message.model.Message">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="serialNumber" column="serial_number" />
		<result property="url" column="url" />
		<result property="amount" column="amount" />
		<result property="count" column="count" />
		<result property="status" column="status" />
		<result property="categoryType" column="category_type" />
		<result property="categoryId" column="category_id" />
		<result property="title" column="title" />
		<result property="releaseDate" column="release_date" />
		<result property="pageview" column="pageview" />
		<result property="commentCount" column="comment_count" />
		<result property="digest" column="digest"
			typeHandler="org.shaohuogun.reader.portal.plugin.ibatis.BlobTypeHandler" />
		<result property="content" column="content"
			typeHandler="org.shaohuogun.reader.portal.plugin.ibatis.BlobTypeHandler" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.reader.portal.message.model.Message">
		insert into READER_MESSAGE
		(id,
		creator, create_date, deleted, url,
		amount, count,
		status,
		category_type,
		categoryId,
		title, release_date,
		pageview, comment_count,
		digest,
		content)
		values (#{id},
		#{creator},
		#{createDate}, #{deleted},
		#{url},
		#{amount},
		#{count},
		#{status},
		#{categoryType},
		#{categoryId},
		#{title},
		#{releaseDate},
		#{pageview},
		#{commentCount}, #{digest},
		#{content})
	</insert>

	<select id="selectAll" resultMap="messageResultMap">
		select * from READER_MESSAGE
		where
		deleted = '0'
	</select>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="messageResultMap">
		select * from READER_MESSAGE where id = #{id}
	</select>

	<select id="selectByUrl" parameterType="java.lang.String"
		resultMap="messageResultMap">
		select * from READER_MESSAGE where deleted = '0' and url =
		#{url}
	</select>

	<select id="countByCategory" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from READER_MESSAGE where deleted = '0' and
		channel_type = #{channelType} and
		channel_id = #{channelId}
	</select>

	<select id="selectByCategory" parameterType="java.util.Map"
		resultMap="messageResultMap">
		select * from READER_MESSAGE where deleted = '0' and
		channel_type = #{channelType} and
		channel_id
		= #{channelId} order by url
		desc;
	</select>

	<update id="update" parameterType="org.shaohuogun.reader.portal.message.model.Message"
		flushCache="true">
		update
		READER_MESSAGE set last_modifier = #{lastModifier},
		last_modify_date =
		#{lastModifyDate}, deleted = #{deleted},
		serial_number = #{serialNumber},
		count =
		#{count},
		status =
		#{status},
		content = #{content} where
		id =
		#{id}
	</update>

	<select id="selectByStatus" parameterType="java.lang.String"
		resultMap="messageResultMap">
		select * from READER_MESSAGE where deleted = '0' and
		status =
		#{status} order by create_date asc limit 1
	</select>

	<select id="selectBySerialNumber" parameterType="java.lang.String"
		resultMap="messageResultMap">
		select * from READER_MESSAGE where deleted = '0' and
		serial_number = #{serialNumber} order by create_date asc limit 1
	</select>
</mapper>