<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.reader.portal.user.dao.UserMapper">
	<resultMap id="userResultMap" type="org.shaohuogun.reader.portal.user.model.User">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="email" column="email" />
		<result property="nickname" column="nickname" />
		<result property="password" column="password" />
		<result property="portrait" column="portrait" />
		<result property="profile" column="profile" />
		<result property="mobile" column="mobile" />
		<result property="sex" column="sex" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.reader.portal.user.model.User">
		insert into READER_USER
		(id,
		creator, create_date, deleted, email, nickname, password)
		values
		(#{id}, #{creator}, #{createDate}, #{deleted},
		#{email},
		#{nickname},
		#{password})
	</insert>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="userResultMap">
		select * from READER_USER where id = #{id}
	</select>

</mapper>

